/* reset*/

* {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;

}

p {
  margin-bottom: 0.8;
  font-size: 12px;
  font-weight: 100;
}

h2 {
  font-size: ;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}


/*header*/
#header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  background: #023b6d;
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 10px;
}

.logo a {
  display: flex;
}

.logo img {
  height: 10px;
}


/*
  .navigate {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.navigate a {
  transition: .3s;
  color: rgba(255,255,255,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navigate .icon {
  width: 22px;
  height: 22px;
}

.navigate .download {
  background: #00a6eb;
  color: #fff;
  font-size: 10px;
  padding: 0 16px;
  height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 15px;
  white-space: nowrap;
}

.navigate .download .icon {
  width: 20px;
  height: 20px;
}

.navigate .download span {
  padding-left: 6px;
}*/


/* vp +header*/

.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#topbar {
  background: #3fbbc0;
  color: #fff;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  z-index: 996;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

}

#topbar i {
  padding-right: 6px;
  line-height: 0;
}

.elem-topbar {
  margin-right: 400px;
}

header {
  padding: 1rem;
  background: white;
  transition: all 0.5s;
  z-index: 997;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 40px;
  position: fixed;
  width: 100%;
  padding: 0 100px 0 100px;
}

.vp-logo {
  font-size: 5px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;

}

.vp-logo img {
  max-height: 25px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
}

header ul li a:hover {
  color: #3fbbc0;
  ;
}

header a {
  color: #444444;
  font-size: 12px;
  font-weight: 100;
}

header .vp-logo {
  margin-right: 50px;
}

.active {
  color: #3fbbc0;
}

.appointment-btn {
  margin-left: 15px;
  background: #3fbbc0;
  color: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 10px;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;

  z-index: 1;
}

.dropdown-content a {
  color: #444444;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #3fbbc0;
}

.dropbtn {
  border: none;
  background: white;
  cursor: pointer;

}

/*slider*/




/*section generale*/

section {
  
  overflow: hidden;

}

main {}

/*feature*/

.feature{
  background-color:white;
  height:200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  overflow: hidden;
    background-color:white;
      height: 180px;
      width: 210px;
      display: flex;
      flex-flow: column nowrap;
      box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        
}
.box:hover .bg{
  transform: translateY(0);
  transition: all 0.5s ease;
}
.bg{
      background-color:#3fbbc0;
        height: 180px;
        width: 210px;
        position: relative;
        transform: translateY(180px);
        transition: all 0.5s ease;
}
.box>div:nth-child(1) {
  /* background: blue; */
  width: 210px;
  height: 180px;
  position: absolute;
  z-index: 5;
}

.box i {
  margin-bottom: 15px;
      font-size: 48px;
        line-height: 1;
        color: #3fbbc0;
        transition: all 0.3s ease-in-out;
      }


.box .title{
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.box .title a{
  color : #111
}
.box .title p{
  font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
}



/* para*/

.para {
  background: #3fbbc0;
  color: #fff;
  background-size: cover;
  padding: 60px 0;

}

.para h3 {
  font-size: 18px;
  font-weight: 700;
}

.text {
  text-align: center;

}



.para-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.para-btn:hover {
  background: #fff;
  color: #3fbbc0;
}

/* about*/

.about-titre {
  text-align: center;
 padding-left: 100px;
 padding-right: 100px;
 padding-top: 50px;
}

.about-titre h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

.about-titre h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);
}

.about-titre p {
  margin-bottom: 10px;
}

.about-general {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0.3px;
  padding-bottom: 10px;
  padding: 0 100px 40px 100px;
}

.about-general-img img {
  width: 420px;
  height: 340px;

}

.about-general-text {
  max-width: 100%;
  height: auto;
  padding: 12px;
  margin-left: 10px;
  margin-top: 8px;

}


.about-general-text h3 {
  font-weight: 600;
  font-size: 26px;

}

.about-general-text ul li {
  padding-bottom: 10px !important;
  font-size: 14px;

}

.about-general-text p {
  margin: 15px;
  font-size: 10;
}

.about-general-text p:last-child {
  margin-bottom: 0;
}

.about-general ul i {
  font: size 20px;
  padding-right: 4px;
  color: #3fbbc0;
}

*/
/*slider*/


.swiper {
  height: 400px !important;
}

.cust_slider img {
  width: 150%;
  height: 400px;
  font-size: 10px;
  object-fit: cover;
}

.cust_slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.card_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  width: 100%;
  min-height: 100px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 4px solid #3fbbc0;
}

.card_title {
  color: #2f2f2f;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.card_description {
  font-size: 14px;
  margin: 0 auto 30px auto;
  color: #555555;
}

.card_button {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  background: #3fbbc0;
  border: 0;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #3fbbc0 !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 500ms;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  color: #3fbbc0;
}

/*count*/

.count {
  padding: 30px 100px 30px 100px;

}

.contenue {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0.3px;
  padding-bottom: 0.3px;
  animation-name: cool;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes cool {
  from {
    opacity: 0;
    transform: translatey(20px);
  }

  to {
    opacity: 1;
  }
}



.count .cont-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  padding-left: 20px;
  margin-right: 15px;
}

.count .cont-box i {
  display: block;
  font-size: 20px;
  color: #3fbbc0;
  float: left;

}

.count .cont-box span {
  font-size: 32px;
  line-height: 39px;
  display: block;
  font-weight: 700;
  color: #555555;
  margin-left: 50px;

}

.count .cont-box p {
  padding: 25px 0 0 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.count .cont-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #7b7b7b;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.count .cont-box a:hover {
  color: #3fbbc0;
}

/*futur*/

.futur {
  display: flex;
  flex-flow: row nowrap;
  padding: 60px 100px 60px 100px;
}

.futures {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3px;
  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}


@keyframes fadein {
  from {
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
  }
}


.icon-box {
  margin-top: 2rem;
}

.non{
  margin-top: 0;
}


.futur .icon-box h4 {
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0 10px 60px;
}

.futur .icon-box i {
  font-size: 25px;
  float: left;
  color: #3fbbc0;
}

.futur .icon-box p {
  font-size: 10px;
  color: #848484;
  margin-left: 50px;
}

.futur .images {
  flex: 1;
  background-image: url(../img/features.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  animation-name: droit;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

}

@keyframes droit {
  from {
    transform: translateX(20px);
  }

  to {
    opacity: 1;
  }
}

/*services*/
.service{
  padding: 60px 100px 60px 100px;
}

.service .icon-box {
  margin-bottom: 15px;
  text-align: center;
}

.service .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 18px;
  background: #fff;
  border-radius: 50%;
  transition: 0.5s;
  color: #3fbbc0;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.service .icon i {
  font-size: 26px;
  line-height: 0;
}

.service .icon-box:hover .icon {
  box-shadow: 0px 0 25px rgba(63, 187, 192, 0.3);
}

.service .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 13px;
  position: relative;
  padding-bottom: 15px;

}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  animation-name: cool;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.section-title h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);
}

.service .section-title a {
  color: #444444;
  transition: 0.3s;
}

.service .title a:hover {
  color: #3fbbc0;
}


.service .description {
  line-height: 15px;
  font-size: 10px;
}

.services-containt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 5px;
}

.item-services {
  width: 240px;
  height: 240px;
  margin-right: 15px;
  margin-left: 10px;


}

.item-services a::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #3fbbc0;
  bottom: 0;
  left: calc(50% - 25px);
}

/*appointment*/

.appointment {
  background-color: #f7fcfc;
  justify-content: center;
  padding: 0 100px 0 100px;
  animation-name: cool;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}


@keyframes cool {
  from {
    opacity: 0;
    transform: translatey(20px);
  }

  to {
    opacity: 1;
  }
}

.row-1 ,.row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;

}

 

.row-1  input, .row-2 select, .row-2 input {
  height: 25px;
  width: 30%;
  margin:0 5px ;
  border: solid 0.2px #eeeded;
  font-size: 0.6rem;
  padding-left: 5px;
  background:white;
  color: rgba(0, 0, 0, 0.737);
  outline: none;
}

.comment {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.comment textarea{
  height: 100px;
  width: 92%;
  margin-top: 5px;
  padding-top: 10px;
  border: solid 0.2px #eeeded;
    font-size: 0.6rem;
    padding-left: 5px;
    background: white;
    color: rgba(0, 0, 0, 0.737);
}

.comment button{
  margin: 30px 0;
  border-radius: 20px;
  background: #3fbbc0;
  color: #fff;
  border: 0;
  padding: 0 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* departement*/
  
.departments  {
   padding: 50px 100px 50px 100px;
}

.departments .nav-tabs {
  border: 0;
}

.departments .nav-link {
  border: 0;
  padding: 20px;
  color: #555555;
  border-radius: 0;
  border-left: 5px solid #fff;
  cursor: pointer;

}

.departments .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.departments .nav-link p {
  font-size: 14px;
  margin-bottom: 0;
}

.departments .nav-link:hover h4 {
  color: #3fbbc0;
}

.departments .nav-link.active {
  background: #f7fcfc;
  border-color: #3fbbc0;
}

.departments .nav-link.active h4 {
  color: #3fbbc0;
}

.departments .tab-pane.active {
  animation: slide-down 0.5s ease-out;
}

.departments .tab-pane img {
  float: left;
  max-width: 300px;
  padding: 0 15px 15px 0;
}



.departments .tab-pane h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3fbbc0;
}

.departments .tab-pane p {
  color: #777777;
}

.departments .tab-pane p:last-child {
  margin-bottom: 0;
}

/*doctors*/

.doctors{
  padding: 50px 100px 50px 100px;
}

.doctors {
  background-color: #f7fcfc;
}

.doctors .content-docteurs {
  display: flex;
  flex-flow: row;
  animation-name: cool;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.doctors .menbre {
  margin-bottom: 20px;
  margin-right: 12px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(63, 187, 192, 0.1);
  animation-name: cool;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}


@keyframes cool {
  from {
    opacity: 0;
    transform: translatey(20px);
  }

  to {
    opacity: 1;
  }
}


.doctors .menbre .menbre-img {
  position: relative;
  overflow: hidden;
}

.menbre-img img {
  max-width: 100%;
  height: auto;
}

.doctors .menbre .social-media {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.doctors .membre .social-media a {
  transition: color 0.3s;
  color: #555555;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.doctors .membre .social-media a i {
  line-height: 0;
}

.doctors .membre .social-media i {
  font-size: 18px;
  margin: 0 2px
}

.doctors .membre .social-media i:hover {
  color: #3fbbc0;
  background: none;
  transition: all;
}


.doctors .menbre .menbre-infos {
  padding: 25px 15px;
}

.doctors .membre .menbre-infos h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #555555;
}

.doctors .membre .menbre-infos span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

/*testimonials*/

.testimonials .section-title{
  padding: 0 100px 0 100px;
}

.content-slide {
  display: flex;
  justify-content: center;
  height: 280px;
  width: 100vw;


}

.content-slide>div{
  height: 100%;
  width: 73%;
  display: flex;
    flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;
}
.caroussel {
  background: white;
  height: 90%;
  width: 250px;
  margin: 5px;
  animation: slide 38s ease-in-out  infinite;
  border-radius: 10px;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }

     19% {
       transform: translateX(0);
     }
            20% {
              transform: translateX(-256px);
            }
            39%{
              transform: translateX(-256px);
            }
            40%{
              transform: translateX(-516px);
            }
            59%{
              transform: translateX(-516px);
            }
            60%{
              transform: translateX(-776px);
            }
            79%{
              transform: translateX(-776px);
            }
            80%{
              transform: translateX(-1037px);
            }
            99%{
              transform: translateX(-1037px);
            }
            100%{
              transform: translateX(0);
            }
}

.caroussel p{
  background-color: #f0fafa;;
  border-radius: 5px;
  padding: 20px;
  height: 67%;
  text-align: left;
}

.caroussel img{
  width: 65px;
  border: solid white 5px;
  border-radius: 100px;
  margin-top: -35px;
  margin-left: 10px;
}


.caroussel h3{
font-size: 0.8rem;
color: black;
}

.caroussel h4 {
  font-size: 0.65rem;
  margin-top: -10px;
}




/*gallery*/

.gallery{
  padding: 60px 100px 60px 100px;
}

.slider-img {
  display: flex;
  flex-flow: row nowrap;
}

.slider-img img {
  width: 150px;
  margin: 0px 5px;
  border: solid #3fbbc0 3px;
  padding: 3px;
  animation-duration: 10s;
  animation-name: mesimgs;
  animation-iteration-count: infinite;
}

@keyframes mesimgs {
  0% {
    transform: translateX(0);
  }

  19% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-256px);
  }

  39% {
    transform: translateX(-256px);
  }

  40% {
    transform: translateX(-516px);
  }

  59% {
    transform: translateX(-516px);
  }

  60% {
    transform: translateX(-776px);
  }

  79% {
    transform: translateX(-776px);
  }

  80% {
    transform: translateX(-1037px);
  }

  99% {
    transform: translateX(-1037px);
  }

  100% {
    transform: translateX(0);
  }
}

/*@keyframes mesimgs {
  0% {
    transform: translateX(0);
  }

  12.5% {
    transform: translateX(-800px);
  }

  25% {
    transform: translateX(-1600px);
  }

  37.5% {
    transform: translateX(-2400px);
  }

  50% {
    transform: translateX(-3200px);
  }

  62.5% {
    transform: translateX(-4000px);
  }

  75% {
    transform: translateX(-4800px);
  }

  87.5% {
    transform: translateX(-5600px);
  }

  100% {
    transform: translateX(0);
  }
}

/* pricing*/
   
.pricing{
  padding: 0 100px 30px 100px;
}

.content-pricing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0px 5px;
  text-align: center;
}

.item-pricing {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 100%;
height: 300px;
font-size: 15px;
  position: relative;
  overflow: hidden;
  margin: 12px !important;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 10px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 26px;
  color: #3fbbc0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 10px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #3fbbc0;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 10px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .diff h3 {
  color: #fff;
  background: #3fbbc0;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 10px;
  padding: 1px 0 3px 0;
  background: #3fbbc0;
  color: #fff;
}

/* question*/

.question {
  background-color: #f7fcfc;
  padding: 0 100px 0 100px;
}


/*contact*/
.contact .section-title{
  padding: 30px 100px 30px 100px;
}

/*footer*/

footer {
  background: #eeeeee;
  padding: 0 0 30px 0;
  color: #555555;
  font-size: 11px;
}

.container-footer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-right: 15px;
}

footer .footer-top {
  background: #f6f6f6;
  padding: 60px 0 30px 0;
}

footer .footer-top .footer-info {
  margin-bottom: 30px;
  margin-right: 20px;
}

footer .footer-top .footer-info h3 {
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 5px;
  font-weight: 700;
}

footer .footer-top .footer-info p {
  font-size: 8px;
  line-height: 14px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

footer .footer-top .social-links a {
  font-size: 15px;
  display: inline-block;
  background: #3fbbc0;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 26px;
  height: 26px;
  transition: 0.3s;
}

footer .footer-top .social-links a:hover {
  background: #65c9cd;
  text-decoration: none;
}

footer .footer-top h4 {
  font-size: 12px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

footer .footer-top .footer-links {
  margin-bottom: 30px;
  margin-right: 25px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #3fbbc0;
  font-size: 10px;
  line-height: 1;
}

footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

footer .footer-top .footer-links ul a {
  color: #555555;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

footer .footer-top .footer-links ul a:hover {
  color: #3fbbc0;
}

footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}

footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: 50px
}

footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #3fbbc0;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #65c9cd;
}

footer .copyright {
  text-align: center;
  padding-top: 30px;
}

footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}


.back-to-top i {
  font-size: 25px;
  color: #fff;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 17px;
  z-index: 996;
  background: #3fbbc0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}